<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%} {%endblock%}
    {%block style%} {%endblock%} <!-- for the style sheet-->
</head>
<body>

    <header id = 'header'>
        {%if current_user.is_authenticated%} 
            <p>Welcome, {{current_user.email}}</p>
        {%else%} 
            <p>Not logged in</p>
        {%endif%}
    </header>

    {%with messages = get_flashed_messages()%}
        {%if messages%}
            <ul>
                {%for i in messages%}
                    <li>{{i}}</li>
                {%endfor%}
            </ul>
        {%endif%}

    {%endwith%}
    {%block body%}
    
    {%endblock%}
    
    {%block js%} {%endblock%}
</body>
</html>