{%extends 'base.html'%}

{%block title%} <title>A Hidden City</title> {%endblock%}

{%block style%} <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}"> {%endblock%}

{%block body%}
<div id = 'login_id'>
    <h1>A Hidden City</h1>
    {%if not current_user.is_authenticated%}
        <h3>Please Log in or Register to continue</h3>
        <div id = "login_buttons"> 
            <a href="{{url_for('auth.login')}}"><button>To Login Page</button></a>
            <a href="{{url_for('auth.register')}}"><button>To Register Page</button></a>
    {%else%}
        <button id = 'login_play'>Play</button>
        <a href="{{url_for('auth.logout')}}"><button>Logout</button></a>
    {%endif%}
    </div>
</div>

<div id = 'play_mode' style = "display: none";>
    <div id = 'building'>
        
    </div>
</div>

<div id = 'error'></div>

{%endblock%}

{%block js%}
    <script>
        let home = "{{ url_for('routes.home') }}";
    </script>
    <script src = "{{ url_for('static', filename='js/main.js') }}">

    </script> 
 {%endblock%}